 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 524px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 959px;
  margin: 15px -34px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 502px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 4px 0;
}

.u-section-1 .u-image-1 {
  width: 190px;
  height: 140px;
  margin: 11px auto 0 206px;
}

.u-section-1 .u-image-2 {
  width: 190px;
  height: 140px;
  margin: -140px 4px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 190px;
  height: 140px;
  margin: -139px auto 0 6px;
}

.u-section-1 .u-text-1 {
  font-size: 0.8125rem;
  font-weight: 700;
  background-image: none;
  margin: 3px 207px 0 225px;
}

.u-section-1 .u-text-2 {
  font-size: 0.8125rem;
  font-weight: 700;
  margin: -15px 399px 0 33px;
}

.u-section-1 .u-text-3 {
  font-size: 0.8125rem;
  font-weight: 700;
  margin: -15px 7px 0 425px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  font-size: 0.625rem;
  margin: 5px 420px 0 17px;
}

.u-section-1 .u-icon-1 {
  width: 15px;
  height: 15px;
  margin: -30px auto 0 16px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-size: 0.625rem;
  margin: -17px 221px 0 216px;
}

.u-section-1 .u-icon-2 {
  width: 15px;
  height: 15px;
  margin: -31px auto 0 213px;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  font-size: 0.625rem;
  margin: -16px 28px 0 408px;
}

.u-section-1 .u-icon-3 {
  width: 15px;
  height: 15px;
  margin: -30px 182px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.5rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 21px auto 0 63px;
  padding: 3px 11px 3px 10px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.5rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  background-image: none;
  margin: -18px auto 0 262px;
  padding: 3px 11px 3px 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.5rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -18px 68px 0 auto;
  padding: 3px 11px 3px 10px;
}

.u-section-1 .u-image-4 {
  width: 190px;
  height: 140px;
  margin: 21px auto 0 6px;
}

.u-section-1 .u-image-5 {
  width: 190px;
  height: 140px;
  margin: -140px auto 0 205px;
}

.u-section-1 .u-image-6 {
  width: 190px;
  height: 140px;
  margin: -140px auto 0 408px;
}

.u-section-1 .u-text-7 {
  font-size: 0.8125rem;
  font-weight: 700;
  margin: 1px 409px 0 17px;
}

.u-section-1 .u-text-8 {
  font-size: 0.8125rem;
  font-weight: 700;
  margin: -15px 207px 0 219px;
}

.u-section-1 .u-text-9 {
  font-size: 0.8125rem;
  font-weight: 700;
  margin: -15px 14px 0 432px;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  font-size: 0.625rem;
  margin: 4px 414px 0 22px;
}

.u-section-1 .u-icon-4 {
  width: 15px;
  height: 15px;
  margin: -30px auto 0 20px;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  font-size: 0.625rem;
  margin: -17px 218px 0 219px;
}

.u-section-1 .u-icon-5 {
  width: 15px;
  height: 15px;
  margin: -30px auto 0 216px;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  font-size: 0.625rem;
  margin: -17px 15px 0 421px;
}

.u-section-1 .u-icon-6 {
  width: 15px;
  height: 15px;
  margin: -30px auto 0 419px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.5rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 20px auto 0 64px;
  padding: 3px 11px 3px 10px;
}

.u-section-1 .u-btn-5 {
  font-size: 0.5rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -18px auto 0 265px;
  padding: 3px 11px 3px 10px;
}

.u-section-1 .u-btn-6 {
  font-size: 0.5rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: -18px auto 0 468px;
  padding: 3px 11px 3px 10px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 502px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 8px 65px 0 74px;
}

.u-section-1 .u-text-14 {
  font-style: italic;
  font-size: 0.625rem;
  margin: 2px 27px 0 38px;
}

.u-section-1 .u-icon-7 {
  width: 15px;
  height: 15px;
  margin: -15px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.8125rem;
  font-weight: 700;
  width: 264px;
  margin: 4px auto 0;
}

.u-section-1 .u-gallery-1 {
  width: 312px;
  height: 245px;
  grid-gap: 10px 10px;
  margin: 8px auto 0;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 10px 0 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  top: 49px;
  right: auto;
  padding: 16px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 50px;
  right: 0;
  padding: 16px;
}

.u-section-1 .u-text-16 {
  font-size: 0.8125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 10px 13px 0 17px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  transition-duration: 0.5s;
  font-size: 0.875rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 6px auto 0 17px;
}

.u-section-1 .u-text-18 {
  font-style: italic;
  font-size: 0.75rem;
  margin: -106px 0 0 190px;
}

.u-section-1 .u-icon-8 {
  width: 14px;
  height: 14px;
  margin: -18px 136px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 9px 0 0 190px;
}

.u-section-1 .u-icon-9 {
  width: 14px;
  height: 14px;
  margin: -18px 136px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-20 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 8px 61px 0 214px;
}

.u-section-1 .u-icon-10 {
  width: 14px;
  height: 14px;
  margin: -17px 136px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-21 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 7px 2px 0 210px;
}

.u-section-1 .u-icon-11 {
  width: 15px;
  height: 15px;
  margin: -17px 136px 0 auto;
  padding: 0;
}

.u-section-1 .u-table-1 {
  width: 235px;
  margin: -413px auto 0 -34px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-block-c75f-18 {
  background-image: none;
}

.u-section-1 .u-text-22 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -328px 976px 60px -6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-text-13 {
    width: 172px;
  }

  .u-section-1 .u-text-15 {
    width: 119px;
  }

  .u-section-1 .u-icon-8 {
    color: rgb(16, 129, 224) !important;
  }

  .u-section-1 .u-text-22 {
    margin-right: 876px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 131px;
    margin-left: 149px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 281px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 281px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 286px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 145px;
    margin-left: 140px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 136px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 111px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 275px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 131px;
    margin-left: 143px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 295px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 285px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 142px;
    margin-left: 143px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 314px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 114px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 317px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 21px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 259px;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 79px;
    height: 79px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 79px;
    height: 79px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 79px;
    height: 79px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 102px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 102px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 102px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 102px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 17px;
    margin-left: 170px;
  }

  .u-section-1 .u-icon-10 {
    margin-right: 102px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 124px;
  }

  .u-section-1 .u-icon-11 {
    margin-right: 102px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 766px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 374px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 676px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 31px;
    margin-left: 49px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 81px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 86px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 45px;
    margin-left: 40px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 85px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-left: 150px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 31px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 95px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 85px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 42px;
    margin-left: 43px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 102px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 85px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 235px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 117px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 576px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-4 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-4 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before,
.u-section-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-5 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-5 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before,
.u-section-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-6 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-6 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-17,
.u-section-1 .u-text-17:before,
.u-section-1 .u-text-17 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-17 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-17 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}